.backend_site hr {
    width: 50%;
    color: #66C39A;
}

.backend_header {
    display: flex;
    justify-content: space-between;
    margin: 20px 20%;
}
.backend_header h5 {
    align-self: center;
}
.backend_table {
    display: flex;
    justify-content: space-between;
    margin: auto 20%;
}
.backend_people {
    margin: auto 20%;
    display: flex;
    justify-content: space-between;
    margin: 12px 12px;
}
.backend_qualities {
    margin: 15px 200px;
}